<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" threshold="debug">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} bean-log %-5p [%c{1}] (%t) (%F:%L) - %m%n"/>
        </layout>
    </appender>
    <logger name="org.hibernate">
        <level value="DEBUG"/>
    </logger>
    <logger name="org.springframework.web">
        <level value="DEBUG"/>
    </logger>
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="stdout"/>
    </root>
</log4j:configuration>
